<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--sneyder-->
    <!--<add name="GoldIDEntities" connectionString="Data Source=LAPTOP-TUP7029D;Initial Catalog=GOLDID_DB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--Yojan-->
    <!--<add name="GoldIDEntities" connectionString="Data Source=.;Initial Catalog=GOLDID_DB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--sneyder Personal-->
    <!--<add name="GoldIDEntities" connectionString="Data Source=SOSPINA\SQLEXPRESS;Initial Catalog=GOLDID_DB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--Leidy Personal-->
    <!--<add name="GoldIDEntities" connectionString="Data Source=SEPC42\SQLEXPRESS;Initial Catalog=GOLDID_DB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->


    <!--yojan-->

    <add name="ModeloNetContext" connectionString="Data Source=.;Initial Catalog=ModeloNET;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!--AZURE-->




  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>